@{
    ViewData["Title"] = "Ingrediente";
}

<div id="ingrediente-container">
    <h2>Ingredientes</h2>
    <form id="ingrediente-form">

        <label for="ingrediente">Nome do Ingrediente:</label>
        <input type="text" id="nomeIngrediente" name="ingrediente" required>

        <button type="button" onclick="validateCadastroIngrediente()">Cadastrar</button>
    </form>
</div>


<script>
    function validateCadastroIngrediente() {

        var nomeIngrediente = document.getElementById("nomeIngrediente").value;


        if (nomeIngrediente === "") {
            alert("Favor preencher o campo de nome de ingrediente.");
        } else {
            $.ajax({
                url: 'https://localhost:7245/Ingrediente/CadastroIngrediente',
                type: "POST",
                data: { nomeIngrediente: nomeIngrediente },
                beforeSend: function () {
                },
                success: function (data) {
                },
            });
        }
    }
</script>