@model Hamburgueria.DATA.ViewModel.ListarIngredientesViewModel;

@{
    ViewData["Title"] = "Editar Ingrediente";
}

<h1>Editar Ingrediente</h1>

<h4>Ingrediente : @Model.Ingrediente.NomeIngrediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveEditarIngrediente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ingrediente.Id" />

            <div class="form-group">
                <label asp-for="Ingrediente.NomeIngrediente" class="control-label"></label>
                <input asp-for="Ingrediente.NomeIngrediente" class="form-control" />
                <span asp-validation-for="Ingrediente.NomeIngrediente" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Salvar" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a class="btn btn-primary" asp-action="ListarIngredientes">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
