@model Hamburgueria.DATA.DTO.IngredienteDTO

@{
    ViewData["Title"] = "Cadastrar Ingrediente";
}

<h1>Cadastrar Ingrediente</h1>

<h4>Ingrediente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CadastroIngrediente">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NomeIngrediente" class="control-label"></label>
                <input asp-for="NomeIngrediente" class="form-control" />
                <span asp-validation-for="NomeIngrediente" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<br />
<div>
    <a class="btn btn-primary" asp-action="ListarIngredientes">Voltar para a lista.</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
